.payment-container {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.payment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.payment-form input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #bfbfbf;
    font-size: 16px;
}

.payment-form button {
    background: #00a65a;
    border: none;
    padding: 12px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.payment-form button:hover {
    background: #008a4b;
}