/* SIGNUP PAGE */


/* SIGNUP PAGE */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://images.pexels.com/photos/670061/pexels-photo-670061.jpeg") center/cover no-repeat;
}


/* GLASS BOX */

.signup-box {
    width: 100%;
    max-width: 450px;
    padding: 45px 35px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.45);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    color: #fff;
    text-align: center;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.signup-box h2 {
    font-size: 2.3rem;
    margin-bottom: 25px;
    font-weight: 700;
}


/* INPUT */

.signup-box input {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border-radius: 12px;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    outline: none;
}

.signup-box input::placeholder {
    color: #eaeaea;
}


/* BUTTON */

.signup-box button {
    width: 100%;
    padding: 15px;
    margin-top: 18px;
    border-radius: 12px;
    border: none;
    background: #ff8c00;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.signup-box button:hover {
    background: #ffa733;
}


/* LINK */

.signup-box p {
    margin-top: 15px;
}

.signup-box a {
    color: #ffcc66;
    text-decoration: none;
}

.signup-box a:hover {
    text-decoration: underline;
}