/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Body */

body {
    background: #ffffff;
    color: #222;
}


/* Home Page */

.home-container {
    padding: 60px;
    text-align: center;
}

.home-container h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.home-container p {
    font-size: 20px;
    color: #444;
}